<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static',filename='css/logo.png')}}">
    <title>TexTTune</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/Lcss.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-auth.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='script/firebase.js')}}"></script>
    <script>
        // Set up a JavaScript variable with the Flask-rendered URL
        var testTemplateURL = "{{ url_for('test_template_route') }}";
    </script>
    
    <script type="text/javascript" src="{{url_for('static',filename='script/login.js')}}"></script>


</head>
<body>
    <!-- <div>
        <form onsubmit="login(); return false;" id="loginForm">
            <h2>Login</h2>
            <input type="email" id="email" placeholder="E-mail ID" required>
            <input type="password" id="password" placeholder="Password">
            <button type="submit" >Login</button>
            <a href="/regist.html">New User?</a>
        </form>
    </div> -->
    
    <div class="login">
        <form onsubmit="login(); return false;" id="loginForm">
           <img src="{{url_for('static',filename='css/llogo.png')}}" style="width:50%" >
            <h2>Login</h1>
                <div class="inputs">
                    Email
                    <input type="email" id="email" placeholder="Email" required="required" />
                </div>
                <div class="inputs">
                    Password
                    <input type="password" id="password" placeholder="Password" required="required" />
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="log">
                    <a href="#" onclick="forgotPass()">Forgot Password</a>
                    New to this page ? <a href="/regist.html">Register</a>
                </div>
        </form>
    </div>
   

 
    
</body>
</html>